@{
  Layout = "_Layout";
}
@using PierreBakery2.Models;

<h3>Here are all the Orders for the Vendor: @Model["vendor"].Name </h3>
@if (@Model["order"].Count == 0)
{
  <h3>No Orders have been added yet</h3>
}
<ol>
  @foreach (Order order in @Model["order"])
  {
    <h3><li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li></h3>
  }
</ol>
<h3><a href='/vendors/@Model["vendor"].Id/orders/new'>Add new Order for this Vendor</a></h3>
<p><a href='/'>Back home</a></p>
<p><a href="/vendors">Back to Vendor List</a></p>